# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.production
.env.development
.env.test

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
*.sw?

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun.lockb

cost_and_capacity_estimation.md
ec2_deployment_guide.md

/generated/prisma
/uploads
scratch_test.js
get_posts_db.js